/*********************************BASE STYLING*********************************/

* {
	box-sizing: border-box;
}
a {
	list-style: none !important;
	text-decoration: none !important;
}
html {
	height: 100%;
	width: 100%;
}
body {
	background-color: #fff;
	font-family: "Merriweather";
}
.container {
	margin: 0 auto;
	max-width: 1070px;
}
.container-fluid {
	margin: 0 auto;
	max-width: 1370px;
}
hr {
	display: none;
}
nav {
	box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.05);
	background-color: rgba(255, 255, 255, .9) !important;
	transition-duration: 0.2s;
	width: 100%;
	height: 93px;
}
header {
	display: flex;
	background-color: #fff;
	margin-top: 100px;
	min-height: 590px;
}
.portfolio {
	background-color: #ededed;
	width: 100%;
	min-height: 500px;
	-webkit-clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
	clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
}
.thumbnail {
	background: #ededed;
	border: 1px solid #ededed;
	float: left;
}
.skills {
	background-color: #ededed;
	width: 100%;
	min-height: 250px;
}
#contact {
	width: 100%;
	margin: 0 auto;
	background: #fff;
	margin-top: -40px;
}
.contactform {
	background-color: #fff;
	width: 100%;
	min-height: 450px;
}
footer {
	bottom: 0;
	background-color: #252525;
	width: 100%;
	min-height: 200px;
}
/*********************************CONTENT STYLING*********************************/

/***********NAVIGATION BAR***********/

.navbar-brand {
	color: #a1b1bc;
	font-weight: lighter;
	font-family: 'Lato';
	transition-duration: 0.2s;
	color: #a1b1bc !important;
	font-size: 23px;
	margin-top: 21.5px;
}
.navbar-brand:hover {
	color: #a8de5b !important;
}
.resize {
	transition-duration: 0.2s;
	color: #a1b1bc !important;
	font-family: 'Lato';
	font-size: 18px;
}
.navbar-right {
	margin-top: 21.5px;
	transition-duration: 0.2s;
}
nav div ul li a:hover {
	color: #1abc9c !important;
}
.navbar-toggle {
	border: none;
}
/***********ABOUT ME***********/

header div img {
	display: flex;
	border-radius: 100%;
	margin: 25px auto 0 auto;
	box-shadow: 0 4px 6px 2px lightgrey;
}
header div h1 {
	display: flex;
	justify-content: center;
	font: lighter 34px'Lato';
	margin-top: 30px;
	color: #2c3e50;
}
header h3 {
	margin-top: 30px;
	text-align: center;
	font: 300 20px'Lato';
	color: #2c3e50;
}
header p {
	font: 300 14px/1.7'Merriweather';
	color: #474747;
	text-align: center;
	padding-bottom: 30px;
}
.arrow {
	text-align: center;
	height: 20px;
}
.fa-angle-down {
	color: #97c751;
	margin-top: -10px;
}
/***********PORTFOLIO***********/

section div div div div div h3 {
	font: 600 20px'Lato';
	text-align: center;
	color: #97c751;
	transition: .2s;
}
section div div div div div h3:hover {
	color: #A8DE5B;
}
section div div div div div p {
	font: 300 14px/1.7'Merriweather';
	text-align: center;
	color: #474747;
}
#work .portfolio .container-fluid h1 {
	display: block;
	text-align: center;
	font: lighter 34px'Lato';
	margin: 60px 0;
	color: #2c3e50;
}
#work img {
	border-radius: 20px;
}
/***********CONTACT***********/

#contact .container form input,
#contact .container form textarea {
	width: 97.4%;
	height: 30px;
	padding: 5px 10px;
	font-size: 12px;
	color: black;
	letter-spacing: 1px;
	background: #FFF;
	border: 1px solid gray;
	margin-bottom: 30px;
	transition: all .2s ease-in-out;
}
#contact .container form textarea {
	height: 150px;
}
form button {
	display: block;
	margin: 0 auto;
}
form h1 {
	display: block;
	text-align: center;
	font: lighter 34px'Lato';
	margin: 35px auto;
	color: #2c3e50;
}
.submit {
	border-radius: 25px;
	width: 30%;
	padding: 5px 10px;
	font-size: 12px;
	letter-spacing: 1px;
	background: #97c751;
	height: 40px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #FFF;
	border: none;
	transition: all .2s ease-in-out;
}
#contact .container form .submit:hover {
	color: #FFF;
	transform: perspective(1px) scale3d(1.02, 1.02, 1);
	backface-visibility: hidden;
	border: none;
	background: #a8de5b;
	cursor: pointer;
}
form {
	margin-top: 19.75px !important;
}
#contact .container form .required {
	color: #b43838;
}
/***********SKILLS***********/

.ul-skills {
	text-align: center;
	margin-top: 0;
	margin-bottom: 35px;
	padding-left: 0;
}
.li-skills {
	display: inline-block;
	margin: 7px;
	padding: 5px 10px;
	color: white;
	background: #1abc9c;
	list-style: none;
	cursor: default;
	font-size: 1.2em;
}
.skills .content-header h1 {
	display: block;
	text-align: center;
	font: lighter 34px'Lato';
	margin: 35px auto;
	color: #2c3e50;
}
/***********FOOTER***********/

.web {
	float: left;
}
.made {
	float: right;
}
footer h3 {
	color: white !important;
	margin-top: 37px;
	font: 300 22px'Lato';
}
footer h4 {
	float: right;
	color: white;
	font: 300 15px'Merriweather';
	margin-top: -1px;
}
.fa-facebook-square {
	color: #3B5998;
}
.fa-github {
	color: white;
}
.fa-linkedin-square {
	color: #007bb6;
}
.fa-copyright {
	color: white;
	bottom: 0;
	margin-top: 85px;
	display: block;
	text-align: center;
}
.fa-twitter {
	color: #4099FF;
}
/*********************************MEDIA QUERIES*********************************/

@media (max-width: 767px) {
	.navbar-brand {
		font-size: 18px;
		margin-top: 0;
	}
	nav {
		height: 50px !important;
	}
	.resize {
		font-size: 14px;
	}
	.navbar-right {
		margin-top: 0;
	}
	.web,
	.made,
	footer h4 {
		float: none;
	}
	footer .row {
		text-align: center;
	}
	footer h3 {
		font-size: 20px;
	}
	footer h4 {
		font-size: 14px;
		padding-top: 7px;
	}
	.fa-copyright {
		margin-top: 30px;
		font-size: 10px;
	}
	header div img {
		margin: 0 auto;
		transition-duration: 0.2s;
	}
	hr {
		border: 0;
		clear: both;
		display: block;
		width: 75%;
		background-color: #252525;
		height: 1px;
	}
	#work .portfolio .container-fluid h1 {
		margin: 35px 0;
	}
	.portfolio {
		-webkit-clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
		clip-path: polygon(0 0, 100% 2%, 100% 98%, 0% 100%)
	}
	.lastProject {
		margin-bottom: 60px;
	}
	.arrow {
		display: none;
	}
	#contact {
		margin: -10px auto 20px auto;
	}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	.portfolio {
		height: 775px;
	}
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
	.portfolio {
		height: 850px;
	}
}
@-moz-document url-prefix() {
	.contactform {
		margin-top: 0 !important;
	}
}
